@import "tailwindcss";

@font-face {
  font-family: "Wix Madefor Display";
  src: url("../public/fonts/WixMadeforDisplay.ttf");
  font-weight: 200 800;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../public/fonts/Inter.ttf");
  font-weight: 200 800;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans";
  font-weight: 100 900;
  src: url("../public/fonts/NotoSans.ttf");
  font-display: swap;
}

@theme {
  --color-primary: #FFFFFF80;

  --bg-title-gradient: 86.74deg, #00d9ff 0%, #008afc 25.6%, #0066ba 62.17%, #f7359e 96.16%;
  --card-gradient: 297.44deg, rgba(230, 241, 255, 0.24) 1.91%, rgba(223, 238, 255, 0.3) 95.65%;

  --button-gradient: 283.7deg, #0190FF -4.42%, #5EC2EE 80.39%;
  --button-gradient-hover: 260.76deg, #35a6ff 3.87%, #83d2f4 94.67%;

  --shadow-card: 0px 2px 3px 0px #00000026;
}
